@page
@model HWRestaurant.WEB.Pages.MyRestaurants.List1Model
@{
    ViewData["Title"] = "List1";
}

@if (Model.Message != null)
{
    <div class="alert-info">@Model.Message</div>
}

@if (Model.DeleteMessage != null)
{
    <div class="alert-danger">@Model.DeleteMessage</div>
}

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-primary">Search</button>
            </span>
        </div>
    </div>
</form>

@*<table class="table">
    <thead>
        <tr>
            <th>Restaurant Name</th>
            <th>Restaurant Location</th>
            <th>Cuisine Type</th>
            <th>Actions</th>
        </tr>
    </thead>*@
@foreach (var restaurant in Model.Restaurants)
{
    @*<tr>
            <td>@item.Name</td>
            <td>@item.Location</td>
            <td>@item.cuisineType</td>
            <td>
                <a class="btn btn-success" asp-page="./Detail" asp-route-RestaurantId="@item.Id">View</a>
                <a class="btn btn-warning" asp-page="./Edit" asp-route-RestaurantId="@item.Id">Edit</a>
                <a class="btn btn-Danger" asp-page="./Edit" asp-route-RestaurantId="@item.Id">Delete</a>
            </td>
        </tr>*@
    <partial name="_Summary" model="restaurant" />
}
@*</table>*@
<hr>
<div>
    <a class="btn btn-primary" asp-page="./Edit">Add New</a>
</div>